<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
</head>
<style>
    .box{
        width: 200px;
        height: 200px;
        float: left;
    }
</style>
<body>
<div class="box" style="background: rosybrown">5</div>
<div class="box" style="background: pink">2</div>
<div class="box" style="background: peachpuff">7</div>
<div class="box" style="background: aqua">1</div>
<div class="box" style="background: aquamarine">0</div>
</body>
</html>